<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- Automatically load all @Components except for the web layer -->
	<context:component-scan base-package="com.thestaticvoid.blender.domain" />
	<context:component-scan base-package="com.thestaticvoid.blender.service" />
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	
	<bean id="reCaptcha" class="net.tanesha.recaptcha.ReCaptchaImpl">
		<property name="publicKey" value="6Lda9QsAAAAAAMSig-iP7-W3oOHtD7MIlmQeyk5S" />
		<property name="privateKey" value="6Lda9QsAAAAAAPuxRNyZhgK2IqQpciDwjRqwbvzT" />
		<property name="includeNoscript" value="true" />
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="localhost" />
	</bean>
</beans>